$font-size-md: 1rem;
$font-size-xs: 0.5 * $font-size-md;
$font-size-sm: 0.75 * $font-size-md;
$font-size-lg: 1.5 * $font-size-md;
$font-size-xl: 2 * $font-size-md;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
