.pagination {
  @include grid-container;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;

  width: 100%;
  display: flex;
  align-items: flex-end;
}

.pagination__btn-container {
  @include grid-column(3);

  &:first-of-type {
    @include grid-push(1);
  }

  @media screen and (min-width: $screen-md) {
    @include grid-column(2);
  }
}

.pagination__btn {
  width: 100%;
}

.pagination__btn-image {
  width: $font-size-xl;
  height: $font-size-xl;
  display: block;
  margin: 0 auto;
}

.pagination__pages {
  @include grid-column(4);
  text-align: center;
  margin-bottom: 0;

  @media screen and (min-width: $screen-md) {
    @include grid-column(6);
  }
}

.pagination__page-number {
  display: inline-block;
  margin: 0 $spacing-sm;

  &::before {
    content: none;
    display: none;
  }
}

.pagination__page-link {
  color: $color-black;

  &:focus,
  &:hover {
    color: $color-red;
    text-decoration: underline;
  }

  &.active {
    text-decoration: none;
    user-select: none;
    color: $color-red;
    cursor: default;
  }
}
